{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/tools.cli {:mvn/version "1.1.230"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  com.datomic/peer {:mvn/version "1.0.7075"}
  com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.12.761"}
  org.postgresql/postgresql {:mvn/version "42.7.1"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
  hiccup/hiccup {:mvn/version "2.0.0"}
  io.pedestal/pedestal.service {:mvn/version "0.6.2"}
  io.pedestal/pedestal.jetty {:mvn/version "0.6.2"}}

 :aliases
 {;; clojure -M:render <source> <out-dir> [--brand brand.edn]
  :render
  {:main-opts ["-m" "com.vendekagonlabs.unify.schema-browser.cli"]}

  ;; clojure -M:service
  :service
  {:main-opts ["-m" "com.vendekagonlabs.unify.schema-browser.service"]}

  ;; clojure -X:test
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  ;; clojure -T:build uber
  :build
  {:extra-paths ["build/"]
   :deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
   :ns-default build}}}
